<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Olsens.Plugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Olsens.Plugins.Web_References.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="Olsens.Plugins.Web_References.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Olsens.Plugins.Web_References/Service1/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="LodgeDRSBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="LodgeDRSBinding1" />
                <binding name="StatusQueryBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="StatusQueryBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://lifelink.bdm.nsw.gov.au/lifelink/b2b/LodgeDRS"
                binding="basicHttpBinding" bindingConfiguration="LodgeDRSBinding"
                contract="LodgeDRSService.LodgeDRSPortType" name="LodgeDRSPort" />
            <endpoint address="https://lifelink.bdm.nsw.gov.au/lifelink/b2b/StatusQuery"
                binding="basicHttpBinding" bindingConfiguration="StatusQueryBinding"
                contract="StatusQueryService.StatusQueryPortType" name="StatusQueryPort" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Olsens.Plugins.Properties.Settings>
            <setting name="Olsens_Plugins_DirectSMSService_SmsGatewayService"
                serializeAs="String">
                <value>https://api.directsms.com.au/s3/services/SmsGateway</value>
            </setting>
        </Olsens.Plugins.Properties.Settings>
    </applicationSettings>
</configuration>